/PresencesEnterprise-ejb/nbproject/private/
/PresencesEnterprise-war/dist/
/PresencesEnterprise-ejb/src/conf
/PresencesEnterprise-ejb/setup
/nbproject/private/
/build/
/dist/
/src/conf/
/setup/