/build
/dist
/build.xml
/PresencesEnterprise-ejb/build
/PresencesEnterprise-ejb/dist
/PresencesEnterprise-ejb/nbproject
/PresencesEnterprise-ejb/setup
/PresencesEnterprise-ejb/build.xml
/PresencesEnterprise-war/build
/PresencesEnterprise-war/dist
/PresencesEnterprise-war/build.xml